<section class="band">
  <div class="band__inner ocn-card">
    <img class="band__accent" [src]="accentImage" alt="" />
    <div class="band__copy">
      <h3 class="ocn-title-lg band__title">{{ headline }}</h3>
      <p class="ocn-title-md band__line" *ngFor="let l of lines">{{ l }}</p>
      <div class="band__pager">
        <span class="band__pager-text">{{ pager }}</span>
        <div class="band__dots">
          <img [src]="dotActive" alt="" class="band__dot band__dot--active" />
          <img [src]="dot" alt="" class="band__dot" />
          <span class="band__dot band__dot--circle"></span>
        </div>
      </div>
    </div>
  </div>
</section>
